<%=@landmark.year_completed%>
<%=@landmark.name%>
<form method="post" action="/landmarks/<%=@landmark.id">
<input type="text" name="landmark[name]" id="name"></input>
<input type="text" name="landmark[year_completed]" id="year_completed"></input>
<input type="submit" value="Edit Landmark"></input>


</form>
