<form method="post" action="/landmarks">
<input type="text" name="landmark[name]" id="landmark_name"></input>
<input type="text" name="landmark[year_completed]" id="landmark_year"></input>
<input type="submit" value="Create Landmark"></input>


</form>
